#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#items {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border-left: 3px solid #ddd;
  border-right: 3px solid #ddd;
  border-bottom: 3px solid #ddd;
  margin: auto;
  width: 50%;
  margin-bottom: 50px;
}

#items td, #items th {
  border: 1px solid #ddd;

}

#items tr {
  background-color: #FF8362;
  text-align: left;
}

#items th {

  text-align: left;
  background-color: gray;
}
