.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

label {
  float: left;
  margin-left: 100px;
}

#nama {
  margin-left: 50px;
}
#semangka {
  margin-left: 275px;
}
#jeruk {
  margin-left: 275px;
}
#nanas {
  margin-left: 275px;
}
#salak {
  margin-left: 275px;
}
#anggur {
  margin-left: 87px;
}
#submit {
  float: left;
  margin-left: 100px;
}
fieldset {
  border-radius: 20px;
  border: 1px solid #000000;
  margin-left: 400px;
  margin-right: 400px;
}