#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#isi_tabel {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  margin: auto;
  width: 50%;
  margin-bottom: 50px;
}

#isi_tabel td, #isi_tabel th {
  border: 1px solid #ddd;

}

#isi_tabel tr {
  background-color: #FF8362;
  text-align: left;
}

#isi_tabel th {

  text-align: left;
  background-color: gray;
}
